@import "../variables";

.info {
  width: 610px;
  margin: 100px auto;

  &__simpl,
  &__establi {
    font-family: "SFUIText";
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
  }

  &__header {
    color: #7ed321;
    font-family: "SFUIText";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 15px;
  }

  &__simpl {
    padding-bottom: 55px;
  }
}

@media (max-width: 650px) {
  .info {
    margin-top: 70px;
    width: 450px;
  }
}

@media (max-width: 480px) {
  .info {
    margin-top: 50px;
    width: 310px;
  }
}
