@import "fonts";
@import "variables";
@import "components/all";

body {
  margin: 0px;
  padding: 0px;
}

.content {
  text-align: center;
}

.check-in {
  border-radius: 44px;
  background: $baby-purple;
  display: inline-block;
  padding: 77px 171px 36px;
  margin-top: 13%;

  &__button {
    display: block;
    width: 151px;
    height: 60px;
    margin: 56px 5px 0 4px;
    border-radius: 36px;
    border: solid 3px $white-two;
    background: $baby-purple;
    font-family: "SFUIText";
    font-size: 18px;
    color: $white-two;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  &__img {
    width: 160px;
    height: 150px;
  }
}

//filter

.rectangle {
  display: flex;
  padding-top: 16px;
  padding-bottom: 13px;
  background-color: #eaeaea;
  justify-content: center;
}

.date-from,
.date-to {
  font-family: "SFUIText";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.search-jogs {
  width: 100px;
  height: 31px;
  margin: 0 45px 0 15px;
  border-radius: 11px;
  border: solid 1px #979797;
  background-color: $white-two;
}

@media (max-width: 830px) {
  .search-jogs {
    width: 80px;
    margin: 0px 12px;
  }
}

//filter
